.line {
    width: 1px;
    height: 20px;
    background-color: #c3c5c5;
    margin: 5px 10px 10px;

}
.name {
    font-size: 17px;
    font-weight: 700;
    color: #231f1c;
}

.navBar {
    box-shadow: -10px -8px 22px #231f1c
}

.navBar a {
    border: 1px solid #525252;
    border-radius: 10px;
    text-decoration: none;
    color: #525252;
    font-size: 13px;
}

.navBar a:hover {
    color: #000000;
}

.catalogueButton {
    max-width: 100px;
    text-align: center;
}