.card-container {
    /* box-shadow: 2px 2px 10px grey, -2px -2px 10px grey; */
    background: white;
    border-radius: 60px;
    min-height: 200px;
}


.imageDiv {
    background-image: url('../../assets/KEC_Sunil.jpeg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.card-container {
    width: 90%;
}
.img-container {
    width: 100%;
}

.data-container {
    width: 100%;
}

@media (max-width: 575px) {
    .imageDiv {
        width: 200px;
        height: 200px;
    }
}

@media (min-width: 576px) {
    .imageDiv {
        width: 300px;
        height: 300px;
    }
}

@media (min-width: 768px) {
    .card-container {
        width: 700px;
    }

    .img-container {
        width: 35%;
    }

    .data-container {
        width: 60%;
    }

    .imageDiv {
        width: 220px;
        height: 220px;
    }
}

@media (min-width: 992px) {
    .card-container {
        width: 800px;
    }

    .imageDiv {
        width: 250px;
        height: 250px;
    }
}

.main-card-cover {
    background: url('../../assets/main-bg.png') top no-repeat;
    background-size: cover;
}

.main-card-overlay{
    background: rgba(11, 15, 32, 0.5);
    height: 100%;
    width: 100%;
}