
.contact-card {
    width: 100%;
    height: auto;
    /* box-shadow: 2px 2px 10px #dfdfdf; */
}

.contact-card a {
    text-decoration: none;
    color: #525252;
}

.contact-card a:hover {
    color: #000000;
}

@media (min-width: 768px) {
    .contact-card {
        width: 90%;
    }
}
