.msg-card {
    /* box-shadow: 2px 2px 10px grey, -2px -2px 10px grey; */
    position: relative;
    border: 3px solid #6c6c6c;
    background-color: white;
}

.quote-container {
    width: 80px;
    height: 80px;
    background-color: white;
    position: absolute;
    top: -25px;
    left: -10px;
}

@media (min-width: 768px) {
    .msg-card p {
        font-size: 20px;
    }
}
